<settings>
  <servers>
    <server>
      <!--
        User name and password to deploy onto Sonatype repository.
        Necessary to deploy both signed artifact (stable version) and unsigned artifact (snapshot version).
      -->
      <id>ossrh</id>
        <username>${env.OSSRH_JIRA_USERNAME}</username>
        <password>${env.OSSRH_JIRA_PASSWORD}</password>
      </server>
  </servers>
  <profiles>
    <profile>
      <!--
        GPG passphrase to sign artifacts.
      -->
      <id>deploy</id>
      <properties>
        <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
