on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master

# set necessary permissions for SQ's GitHub integration
# https://docs.sonarqube.org/latest/analysis/github-integration/#header-2
permissions:
  checks: write
  contents: read
  pull-requests: write
  statuses: read

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      # minimal support version
      SONAR_VERSION: 7.6
      SONAR_JAVA_VERSION: 5.10.1.16922
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin
      - name: Build
        run: |
          mvn org.jacoco:jacoco-maven-plugin:prepare-agent verify sonar:sonar -B -e -V \
            -Dsonar.version=${{ env.SONAR_VERSION }} \
            -Dsonar-java.version=${{ env.SONAR_JAVA_VERSION }} \
            -Dsonar.projectKey=com.github.spotbugs:sonar-findbugs-plugin \
            -Dsonar.organization=spotbugs \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_LOGIN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
          CI: true
